body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
